$blue: #93F;
$opacity: 0.4;

.container {
	overflow: hidden;
	margin: 500px auto;
	width: 800px;
	position: relative;

	img {
		width: 100%;
		z-index: 0;
	}
}

.mask {
	// img是inline-block的，所以mask也要设为inline-block
	display: inline-block;
	background-color: $blue;
	opacity: $opacity;
	position: absolute;
	width: 0;
	transition: width 2s ease-in;
}
