html
	meta(charset="utf8")
	link(rel="stylesheet", href="css/style.css")
	title 四角倾斜开收

	body
		div.container
			.mask.lt
			.mask.rt
			.mask.lb
			.mask.rb
			img(src="img/show.jpg")

		script(src="//ydzsrc.oss-cn-beijing.aliyuncs.com/js/jquery.min.js")
		script(src="js/skewslide.js")
