doctype html
html(lang="cn")
	head
		meta(charset="utf8")
		link(rel="stylesheet", href="css/style.css")
		title 四角倾斜开收

	body
		div.mask-container
			.mask-high.lt
			.mask-high.rt
			.mask-high.lb
			.mask-high.rb
			.mask-low.above
			.mask-low.under
			img(src="img/show.jpg")
		div.mask-container
			.mask-high.lt
			.mask-high.rt
			.mask-high.lb
			.mask-high.rb
			.mask-low.above
			.mask-low.under
			img(src="img/show2.jpg")
		script(src="lib/jquery.min.1.7.js")
		script(src="js/modernizr_custom.js")
		script(src="js/skewslide.js")
		script(src="js/control.js")
